

<div class="container">
  <div class="row">
    <h1>Edit Account</h1>
  </div>
  <div class="row">
    <%= form_for @user, method: :patch, controller: "users#update", html: {class: "col-6"} do |form|%>
    <%= render partial: '/users/form', object: form %>

      <div class="submit-field">
        <%= form.submit "Edit User", class: "btn btn-primary" %>
      </div>

      <% end %> 
  </div>
</div>
