<div class="headerimg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 offset-md-2 banner-txt" id="frontpage-black">
        <h1 class="lead">Evalist</h1>
        <h2 class="display-4">Welcome to the future of Project Management</h2>
        <p>A fair & transparent employee evaluation system</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="service-headline col-md-12 text-center">
      <h2>Our Services</h2>
    </div>
  </div>
</div>

<div class="col-md-12 services">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <a class="services-icon" href="#">
            <i class="fa fa-address-book-o"></i>
          </a>
          <h5 class="card-title">Manage user profiles</h5>
          <p class="card-text">Create and manage user profiles seemlessly as well as view the ratings of each user.</p>
          <a href="/users" class="btn btn-primary">View Users</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
        <a class="services-icon" href="#">
            <i class="fa fa-thumbs-o-up"></i>
          </a>
          <h5 class="card-title">Evaluation & Rating</h5>
          <p class="card-text">View and track recent reviews as well as pending reviews easily.</p>
          <a href="/your_reviews" class="btn btn-primary">View Reviews</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
        <a class="services-icon" href="#">
            <i class="fa fa-calendar-check-o"></i>
          </a>
          <h5 class="card-title">Project Management</h5>
          <p class="card-text">View and track the status of multiple projects and the users associated with the project.</p>
          <a href="/projects" class="btn btn-primary">View Projects</a>
        </div>
      </div>
    </div>
  </div>
</div>






