<% p params %>

<div class="headerimg">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 offset-md-2 banner-txt">
        <h1 class="lead">Evalist</h1>
        <h2 class="display-4">Welcome to the future of Project Management.</h2>
        <p>A fair & transparent employee evaluation system</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="service-headline col-md-12 text-center">
      <h2>Our Services</h2>
    </div>
  </div>
</div>

<div class="col-md-12 services">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <a class="services-icon" href="#">
            <i class="fa fa-handshake-o"></i>
          </a>
          <h5 class="card-title">Data & Reporting</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
        <a class="services-icon" href="#">
            <i class="fa fa-thumbs-o-up"></i>
          </a>
          <h5 class="card-title">Evaluation & Rating</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
        <a class="services-icon" href="#">
            <i class="fa fa-calendar-check-o"></i>
          </a>
          <h5 class="card-title">Project Management</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>


  <div id="footer" class="text-center">
    <div class="container">
      <div class="social-media text-center col-md-5">
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        </ul>
      </div>
      <p>&copy; Copyright Evalist Group. All rights Reserved.</p>
      <div>
        Designed by Evalist Group
      </div>
    </div>
  </div>

</footer>

</div>

