<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>