@import "bootstrap";
@import "toastr";
@import "font-awesome";

body {  
    padding-top: 100px;
    color: #565a5c;
    margin-bottom: 50px
    }

    .nav-padding {
        padding: 5px 70px;
    }
    .navbar .navbar-brand {
        color: #242222;
        font-size: 2em;
        font-weight: 400;
        display: flex; 
        // margin-left:90px !important;
    }

    a.nav-link {
        color:rgb(236, 68, 12) !important;
    }
    
    .transparent{
        background-color: transparent !important;
    }

    .headerimg{
        margin-top: -150px;
        padding-top: 120px;
        background-image: url('bgimage.jpg');
        background-size: cover;
        height: 600px;
    }
    .banner-txt{
        background: rgba(0, 0, 0, 0.2);
        padding: 50px;
        color: #e6e6e6;
    }
  

    .btn-primary.btn {
        border: 1px solid #ff5a5f;
        border-radius: 2px;
        font-weight: bold;
        background-color: #ff5a5f;
        color: #fff;
        padding: 10px 25px 10px 25px;
    }
    
    .btn-light.btn {
        font-weight: bold;
        color: #5D6D7E;
        border-radius: 2px;
    }
        
    .btn-primary.btn:hover, .btn-primary.btn:focus {
        border-color: #ff7e82;
        border-bottom-color: #fa0008;
        background-color: #ff7e82;  
        outline:none;
    }
    
        
    .btn-primary.btn:active {
        border-color: #e00007;
        background-color: #e00007;  
        outline:none;
    }
    
        
    .btn-light.btn {
        width: 100%;
        border-radius: 2px;
        padding: 10px 0;
        margin-top: 10px; 
    }

    .service-headline{
        margin-top: 70px;
    }

    .service-headline h2::after {
        border: 1px solid #333;
        bottom: -20px;
        content: "";
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 40%;
    }
    .services {
        margin-top: 20px;
        padding: 60px;
    }
    
    .services-icon {
        color: #444;
        display: inline-block;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
