@import "bootstrap";
@import "toastr";
@import "font-awesome";
@import "users";
body {  
    padding-top: 100px;
    color: #565a5c;
    margin-bottom: 50px
    }

    .nav-padding {
        padding: 5px 70px;
    }
    .navbar .navbar-brand {
        color: #242222;
        font-size: 2em;
        font-weight: 400;
        display: flex; 
        // margin-left:90px !important;
    }

    a.nav-link {
        /*color:rgb(236, 68, 12) !important;*/
        color: black !important;

    }

    .navbar-text {
        color: black !important;
    }
    
    .transparent{
        background-color: transparent !important;
    }

    .headerimg{
        margin-top: -150px;
        padding-top: 120px;
        background-image: url('bgimage.jpg');
        background-size: cover;
        height: 600px;
    }
    .banner-txt{
        background: rgba(0, 0, 0, 0.2);
        padding: 50px;
        color: #e6e6e6;
    }
  

    .btn-primary.btn {
        border: 1px solid #ff5a5f;
        border-radius: 2px;
        font-weight: bold;
        background-color: #ff5a5f;
        color: #fff;
        padding: 10px 25px 10px 25px;
    }
    
    .btn-light.btn {
        font-weight: bold;
        color: #5D6D7E;
        border-radius: 2px;
    }
        
    .btn-primary.btn:hover, .btn-primary.btn:focus {
        border-color: #ff7e82;
        border-bottom-color: #fa0008;
        background-color: #ff7e82;  
        outline:none;
    }
    
        
    .btn-primary.btn:active {
        border-color: #e00007;
        background-color: #e00007;  
        outline:none;
    }
    
        
    .btn-light.btn {
        width: 100%;
        border-radius: 2px;
        padding: 10px 0;
        margin-top: 10px; 
    }

    .service-headline{
        margin-top: 70px;
    }

    .service-headline h2::after {
        border: 1px solid #333;
        bottom: -20px;
        content: "";
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 40%;
    }
    .services {
        margin-top: 20px;
        padding: 60px;
    }
    
    .services-icon {
        color: #444;
        display: inline-block;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .dropdown-menu.show {
        margin-left: -45px;
    }
    /* PROJECTS PAGE */ 

    .project-body .card-list {
        margin-top: 15px;
        width: 100%;
    }
    .project-body .card {
        border: 5px solid #fff;
        border-radius: 8px;
        color: white;
        float: left;
        padding: 10px;
        position: relative;
        width: 25%;
        .glyphicon {
            color: white;
            font-size: 28px;
            opacity: 0.3;
            position: absolute;
            right: 13px;
            top: 13px;
        }
        .stat {
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            font-size: 8px;
            margin-top: 25px;
            padding: 10px 10px 0;
            text-transform: uppercase;
        }
        .title {
            display: inline-block;
            font-size: 8px;
            padding: 10px 10px 0;
            text-transform: uppercase;
        }
        .value {
            font-size: 28px;
            padding: 0 10px;
        }
        &.blue {
            background-color: #2298F1;
        }
        &.green {
            background-color: #66B92E;
        }
        &.orange {
            background-color: #DA932C;
        }
        &.red {
            background-color: #D65B4A;
        }
    }
    .project-body .projects {
        background-color: #fff;
        // border: 4px solid #1b2431;
        width: 100%;
    
    }
    .projects-header {
        color: white;
        padding: 22px;
        .count,
        .title {
            display: inline-block;
        }
        .count {
            color: #738297;
        }
        .glyphicon {
            cursor: pointer;
            float: right;
            font-size: 16px;
            margin: 5px 0;
        }
        .project-title {
            font-size: 21px;
            //font-weight: lighter;
            + .count {
                margin-left: 5px;
            }
        }
    }
    .projects-table {
        width: 100%;
        td,
        th {
            color: rgb(41, 40, 40);
            padding: 10px 22px;
            vertical-align: middle;
        }
        td p {
            font-size: 15px;
            &:last-of-type {
                color: #738297;
                font-size: 11px;
            }
        }
        th {
            background-color: rgb(236, 236, 236);
        }
        tr:not(:last-of-type) {
            border-bottom: 1px solid #313D4F;
        }
        .member {
            figure,
            .member-info {
                display: inline-block;
                vertical-align: top;
            }
            figure + .member-info {
                margin-left: 7px;
            }
            img {
                border-radius: 50%;
                height: 32px;
                width: 32px;
            }
        }
        .status > form {
            float: right;
        }
        .status-text {
            display: inline-block;
            font-size: 12px;
            margin: 11px 0;
            padding-left: 20px;
            position: relative;
            
            &:before {
                border: 3px solid;
                border-radius: 50%;
                content: "";
                height: 14px;
                left: 0;
                position: absolute;
                top: 1px;
                width: 14px;
            }
            &.status-blue:before {
                border-color: #1C93ED;
            }
            &.status-green:before {
                border-color: #66B92E;
            }
            &.status-orange:before {
                border-color: #DA932C;
            }
            &.status-red:before {
                border-color: #D65B4A;
            }
        }
    }
    // selectric plugin styling
    .selectric {
        background-color: transparent;
        border-color: #313D4F;
        border-radius: 4px;
        .label {
            color: #738297;
            line-height: 34px;
            margin-right: 10px;
            text-align: left;
        }
        &-wrapper {
            float: right;
            width: 150px;
        }
    }
    // helper classes
    .danger-item {
        border-left: 4px solid #A84D43;
    }
    .danger-text {
        color: #A84D43 !important;
    }
    // global stuff

    .project-body {
        // background-color: #f2f2f2;
        color: #202020;
        font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
        font-size: 18px;
    }



    .project-body .container {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        max-width: 960px;
        width: 100%;
    }

    button.navbar-toggler{
        position: absolute;
        right: 20%;
    }

    nav{
        width: 105%;
    }




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
